# Dependencies
/node_modules
/.pnp
.pnp.*
/yarn.lock
/package-lock.json.backup

# Next.js build output & cached directories
/.next/
/out/
/dist/
/.next/cache/

# Testing coverage reports
/coverage

# Environment secret variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and system debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
firebase-debug.log*
.firebase/
/logs
.cache
/cache

# Operating System specific files
.DS_Store
Thumbs.db
*.pem

# TypeScript compilation info
*.tsbuildinfo
next-env.d.ts
